mixin scripts(path)
  script(src=path+"js/jquery.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
  script(src=path+"js/jquery.prettyPhoto.js")
  script(src=path+"js/jquery.isotope.min.js")
  script(src=path+"js/main.js")
  script(src=path+"js/wow.min.js")
