mixin subFooter(path)
  .subfooter
    .container
      .row
        .col-md-6
          d &copy; 2017 Onatty
        .col-md-6
          ul.pull-right.list-unstyled.list-inline
            li
              a(href=path+"index.html") Accueil
            li
              a(href=path+"index.html#horaires") Nos Horaires
            li
              a(href=path+"evenements.html") Evènements
            li
              a(href=path+"index.html#prestations") Prestations
            li
              a(href=path+"index.html#recent-works") Réalisations
